:root {
  --main-color1: #6b728e;
  --main-color2: #50577a;
  --main-color3: #474e68;
  --main-color4: #404258;
  --font-color1: white;
  --shadow-color: rgba(0, 0, 0, 50%);
  --border-color-1: rgba(0, 0, 0, 100%);
  --background-color1: rgba(0, 0, 0, 90%);
  --mask-color1: rgba(0, 0, 0, 90%);
}

@font-face {
  font-family: oswald;
  src: url("../fonts/oswald.ttf");
}

@font-face {
  font-family: neon;
  src: url("../fonts/neon.otf");
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-color1);
  font-family: oswald;
  font-size: 2.5vmin;
}

h1 {
  font-size: 11vmin;
  text-shadow: 0px 15px 20px var(--shadow-color);
}

h2 {
  font-size: 5vmin;
  text-shadow: 0px 15px 20px var(--shadow-color);
}

::placeholder {
  color: var(--main-color4);
  opacity: 1;
}

button {
  background-color: var(--main-color1);
  border: 2px solid var(--border-color-1);
  font-size: 3vmin;
  padding: 0 5vmin;
  border-radius: 7px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--main-color3);
  border: 2px solid var(--border-color-1);
}

/* This is just for troll view */
.troll-view-1,
.troll-view-2 {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  justify-content: center;
  overflow: hidden;
  background-color: pink;
  height: 100vh;
  width: 50vw;
  z-index: 15;
  position: fixed;
  text-align: right;
  transition: transform 3s, opacity 3s, z-index 4s;
}
.troll-view-2 {
  left: 50vw;
  text-align: left;
}

.troll h1,
.troll h3,
.troll p {
  text-shadow: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.troll-view-hidden-1 {
  transform: translateX(-5vw) rotate(95deg) translateY(200vh);
  z-index: -15;
  opacity: 0;
}

.troll-view-hidden-2 {
  transform: translateX(5vw) rotate(-95deg) translateY(200vh);
  opacity: 0;
  z-index: -15;
}
/* end of troll view */

.background {
  z-index: -5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 30px,
      var(--main-color4) 30px,
      var(--main-color4) 35px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 30px,
      var(--main-color4) 30px,
      var(--main-color4) 35px
    ),
    repeating-linear-gradient(
      120deg,
      var(--main-color3),
      var(--main-color4) 75%,
      var(--main-color4)
    );
  overflow: hidden;
}

.blurred {
  transition: background-color 0.5s;
  z-index: 10;
  background: var(--mask-color1);
}

nav {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  z-index: 5;
}

nav div {
  background-color: var(--border-color-1);
  display: flex;
  flex-direction: row;
  border-bottom: var(--main-color1) solid 2px;
}

.navleft,
.navright {
  flex: auto;
}

.navleft {
  justify-content: flex-start;
}

.navright {
  justify-content: flex-end;
}

.navleft a,
.navright a {
  margin: 9px;
  padding: 5px;
  text-decoration: none;
  font-size: 3vmin;
}

.navleft a {
  transition: color 0.5s;
}

.navleft a:hover {
  color: var(--main-color1);
}

.navright a {
  border-radius: 25%;
  transition: background-color 0.5s;
}

.navright a:hover {
  background-color: var(--main-color1);
}

.nav-icon {
  height: 100%;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}

.down-icon {
  position: fixed;
  left: 49%;
  bottom: 6vh;
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
  transition: display 2s;
}

header {
  min-height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header h1,
header h2 {
  font-family: neon;
}

header h1 {
  padding-top: 28vh;
}

header h2 {
  padding-top: 3vh;
}

.about-me-section {
  min-height: 100vh;
}

.about-me-section h2 {
  padding-top: 12vh;
  padding-bottom: 12vh;
  width: 100%;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.about-me-img {
  max-width: 50%;
  height: 50%;
}

.about-me-div {
  display: block;
  width: 50%;
  padding-left: 4%;
}

.about-me-div ul {
  list-style: none;
}

.portfolio {
  padding-top: 12vh;
  min-height: 100vh;
}

.portfolio h2 {
  width: 100%;
  font-family: neon;
  text-align: center;
  margin-bottom: 6vh;
}

.portfolio-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15vmin;
}

.portfolio-div {
  border: 1px solid var(--border-color-1);
  border-radius: 20px;
  background-color: var(--main-color4);
  width: 35%;
  padding: 1vh;
  text-align: center;
  box-shadow: 0 0 4vmin 1vmin var(--shadow-color);
}

.portfolio-div img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.lazy-img {
  filter: blur(2px);
}

.project-link {
  padding: 2px;
}

.more-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 15;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  min-height: 50%;
  padding: 5px;
  border: 4px solid var(--main-color1);
  border-radius: 20px;
  background-color: var(--main-color4);
}
.overflowed {
  overflow: hidden;
}

.segment {
  transition: opacity 2s;
}

.unshowed {
  opacity: 0;
}

.hidden {
  display: none;
  transition: display 2s;
}

.contact {
  padding-top: 12vh;
  min-height: 90vh;
}

.contact div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact h2 {
  text-align: center;
  font-family: neon;
  margin-bottom: 10vh;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 15px;
  border: 2px solid var(--border-color-1);
  border-radius: 25px;
  background-color: var(--main-color4);
  box-shadow: 0 0 4vmin 1vmin var(--shadow-color);
}

.contact input,
.contact textarea {
  width: 98%;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--main-color1);
}

.contact textarea {
  min-height: 15vh;
  resize: none;
}

footer {
  background-color: var(--background-color1);
  border-top: var(--main-color1) solid 2px;
  text-align: center;
  padding: 10px;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  font-size: 2vmin;
}

footer p img {
  height: auto;
  width: 2vmin;
}

@media only screen and (max-width: 768px) {
  /* mediaquerry for phones */
  * {
    font-size: 4vmin;
  }

  button {
    font-size: 5vmin;
  }

  .navleft,
  .navright {
    width: 100%;
    justify-content: center;
    margin-top: -10px;
  }

  .navleft a {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navleft a,
  .navright a {
    text-decoration: none;
    font-size: 5vmin;
  }

  .about-me-section h2 {
    padding-bottom: 3vh;
  }

  .about-me-img {
    max-width: 100%;
  }
  .about-me-div {
    width: 100%;
  }

  .portfolio-div {
    width: 90%;
  }

  .contact div {
    width: 95%;
  }

  .more-info {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  footer p {
    font-size: 2.5vmin;
  }
}
