:root {
    --main-color1: #6B728E;
    --main-color2: #50577A;
    --main-color3: #474E68;
    --main-color4: #404258;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: red;
}

.background {
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(-45deg,
            var(--main-color3),
            var(--main-color2)100px,
            var(--main-color4) 100px,
            var(--main-color3) 150px)
}